<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ListFilesFlat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
      <add key="StorageConnectionString"
           value="DefaultEndpointsProtocol=https;AccountName=name;AccountKey=key" />
  </appSettings>
  <userSettings>
    <ListFilesFlat.Properties.Settings>
      <setting name="StorageAccount" serializeAs="String">
        <value></value>
      </setting>
    </ListFilesFlat.Properties.Settings>
  </userSettings>
</configuration>